{% extends 'core/base2.html' %}

{% block content %}
{% load static %}

<div class="illnesses">

    <div class="sbmenu">
        <ul class="sidebar">
            <li class="options">
                <a class="info" href="">About</a>
            </li>
            <li>
                <a class="info" href="">Causes</a>
            </li>
            <li>
                <a class="info" href="">Symptoms</a>
            </li>
            <li>
                <a class="info" href="">Treatment</a>
            </li>
        </ul>
    </div>

    <div class="details">

    <h2 id="about" style="color: rgb(57, 80, 104);">Anxiety Disorder</h2> <br>
    <b>What is Anxiety?</b> 
        <p>Anxiety is what we feel when we are worried, tense or afraid – particularly about things that are about to happen, or which we think could happen in the future. <br> <br>

        Anxiety is a natural human response when we feel that we are under threat. It can be experienced through our thoughts, feelings and physical sensations. Most people feel anxious at times. It's particularly common to experience some anxiety while coping with stressful events or changes, especially if they could have a big impact on your life. </p> 

    <br> <br>

    <b>When is anxiety a mental health problem?</b> 
        <p>Anxiety can become a mental health problem if it impacts your ability to live your life as fully as you want to.</p>
    <br>

         <b>Symptoms:</b>
    <ul>
        <li>your feelings of anxiety are very strong or last for a long time</li>    
        <li>you find it hard to go about your everyday life or do things you enjoy.</li>
        <li>your fears or worries are out of proportion to the situation</li>
        <li>your worries feel very distressing or are hard to control</li>
        <li>you avoid situations that might cause you to feel anxious</li>
        <li>you regularly experience symptoms of anxiety, which could include panic attacks</li>
    </ul> <br>

    <p>If your symptoms fit a particular set of medical criteria then you might be diagnosed with a particular anxiety disorder. But it's also possible to experience problems with anxiety without having a specific diagnosis. </p>

    <!-- link video/images -->
    <div class="media">
        <iframe width="420" height="345" src="https://www.youtube.com/watch?v=vWO-OR1Ux2E">
        </iframe>
    </div>

    <i>This information was published in ...</i>

    </div>
</div>
{% endblock%}