{% extends 'core/base.html' %}

{% block content %}
{% load static %}

<!-- content -->
<div class="imagebg">
<div class="container">
    <h1>Where Support Meets Understanding</h1>
</div>
</div>

<div class="blank">
    <p class="quote">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
            <!-- <a href="#">Share your thoughts</a> -->
</div> 

<div class="imagebg">

    <div class="container second">
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="info">
                <img src="{% static "core/images/img2.jpg" %}">
                <h3>Lounge</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem unde ratione fugiat.</p>
            </div>
        {% if user.is_authenticated %}
            <a href="{% url 'lounge' %}">Visit Lounge</a>
        {% else %}
            <a href="{% url 'loginuser' %}">Visit Lounge</a>
        {% endif %}
        </div>


        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="info">
                <img src="{% static "core/images/29.png" %}">
                <h3>Ulayaw Chatbot</h3>
                <p>Labas mo sakit ng nakem mo dito.</p>
            </div>
            <a href="#">Open Chatbot</a>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div class="info">
                <img src="{% static "core/images/img3.jpg" %}">
                <h3>Mental Health Hotlines</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem unde ratione fugiat.</p>
            </div>
            <a href="#">Seek Help</a>
        </div>
        
    </div>

</div>

<div class="blank-2">
    <div class="footer">
        <div class="column">
            <p>Logo</p>
            <!-- ung logo dito -->
            <img src="" alt="logo"> 
            <ul> 
                <!-- icons -->
                <li><a href="www.facebook.com"><img src="" alt="fb"></a></li>
                <li><a href="www.instagram.com"><img src="" alt="insta"></a></li>
                <li><a href="www.gmail.com"><img src="" alt="gmail"></a></li>
            </ul>
        </div>
        <div class="column">
            <h3>About</h3>
            <ul>
                <li><a href="#">The Team</a></li>
                <li><a href="#">Our Goals</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Mental Health Illnesses</h3>
            <ul>
                <li><a href="#">Anxiety</a></li>
                <li><a href="#">ADHD</a></li>
                <li><a href="#">Bipolar</a></li>
                <li><a href="#">Depression</a></li>
                <li><a href="#">Mood Disorders</a></li>
                <li><a href="#">Obsessive Compulsive Disorder</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Helpful Links</h3>
            <ul>
                <li><a href="#">Mental Health Hotlines PH</a></li>
                <li><a href="#">Recovery Lounge</a></li>
                <li><a href="#">Ulayaw Chatbot</a></li>
            </ul>
        </div>

{% endblock content %}
