{% load static %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Philippine Mental Health Association</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/org_info.css' %}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
</head>

  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-41f7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
                <div class="u-container-layout u-valign-top u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="{% static 'core/images/philmen.png' %}" alt="logo"></span>
                  
                  <h2 class="u-text u-text-default u-text-1">Philippine Mental Health Association</h2>
                  <p class="u-text u-text-2">Enhancing Well-being</p>
                </div>
              </div>

              <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="456" data-image-height="460">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <img src="{% static 'core/images/philmen2.JPG' %}" alt="Philmen Image">

              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>

    <section class="u-align-center u-clearfix u-section-2" id="carousel_725b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-right u-custom-font u-font-ubuntu u-text u-text-default u-text-1">About</h2>

       
        <div class="u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-2"> PMHA is a private, non-stock, non-profit organization that provides premier Mental Health Services through Education, Advocacy, Intervention and Research. Promoting mental health and preventing mental disorders through increasing public awareness campaigns and activities. Providing mental health services to children, youth, and adults with emotional and behavioral problems and/or mental disorders.<br>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-3" id="sec-0bfc">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center u-clearfix u-rich-text u-text u-text-1">
          <h2 style="text-align: left;">Education, Advocacy and Research Department</h2>
          <p style="text-align: left;">
            <span style="line-height: 2.0;"> EARD is the primary program of the Association that strives to strengthen its pursuit to promote mental health and prevent mental disorders through increasing public awareness campaigns and activities. EARD Programs are the following: Information and Education Activities; Youth Life Enrichment Program; Community Based Mental Health Program; Research Program; and Membership and Volunteer Program.<img src="{% static 'core/images/philmen.png' %}" width="570" align="center" style="width: 382px;" class="fr-dii fr-fic fr-fil" >tas congue. Vitae ultricies leo integer malesuada nunc. &nbsp; 
            </span>
          </p>

          <h2 style="text-align: left;">Clinical Prevention Services Department</h2>
          <p style="text-align: left;">
            <span style="line-height: 2.0;">The Clinical and Intervention Services Department (CISD) is the secondary program of the Association. It provides, an out-patient basis, social as well as psychological and psychiatric services and intervention to children, adolescents, and adults with emotional and behavioral problems and/or mental disorders. The CISD team also implements out-patient vocational and psychosocial therapeutic programs for mental health consumers.

              The CISD provides holistic mental health services to clients and their families as well as client-centered intervention programs to children and adolescents with special needs. The CISD professionals work together as a multi-disciplinary team to ensure that the clients' mental health needs are properly addressed. The evaluation, treatment, and therapeutic methods used by the CISD Team are responsive and based on the best practices in their respective fields of expertise. &nbsp;</span>
          </p>
        </div>
      </div>
    </section>
                    <div class="contactdetails" style="margin-left: 55px;">
          
                      <div class="area">
                        <h3>Address</h3>
                        <span class="loc_icon"></span>
                        <h5 class="location">Philippines</h5>
                      </div>

                      <div class="contact">
                        <h3>Contact Details</h3>
                        <span class="loc_icon"></span>
                        <h5 class="contactnumber">+69 123456789</h5><span class="contacticon"></span>
                      </div>

                    </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
</body></html>

