

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slogan{
    font-family: BlinkMacSystemFont, Meddon, -apple-system,  "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    color: white;
    font-size: 70px;
}

h2{
    font-family: BlinkMacSystemFont, Meddon, -apple-system,  "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
    color:black;
}
/* body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('bg.png') no-repeat;
    background-size: cover;
    background-position: center;

} */

.navbar {
    display: flex;
    justify-content: center;
    background: url('../images/bg.png') no-repeat;
    background-size: cover;
    background-position: center; 
}

.navbar a{
  color: white;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500%;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:  transform .5s;
}

.navbar a:hover:after {
    transform-origin: left;
    transform: scaleX(1);  
}

.navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}



.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 75%;
    left: 48px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box .label2 {
    position: absolute;
    top: 75%;
    left: 83px;
    transform: translate(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

#emailadd {
    left: 55px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: #ccc; /* Gray background color */
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
    border-radius: 8px; /* Adjust the border-radius as needed */
}


.input-box icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px - 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;

}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top:10px;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* body */

.container {
  color: #323232;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.imagebg{
    color: #323232;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../images/bg.png);
}


h1{
    font-weight: 100;
    font-size: 4rem;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.35);
    padding: 10px;
    border-radius: 1.6rem;
    margin-left: 60px;
    margin-right: 60px;
}

p{
    max-width: 600px;
    line-height: 1.5;
    padding: 0.8rem;
    font-size: 16px;
}

.container a{
    display: inline-block;
    background-color: #323232;
    color: #fff;
    padding: 0.7rem 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0.7rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    font-size: 0.9rem;
    transition: all 0.3s ease;
    width: 100%;
}

.container a:hover{
    background-color: #a638c1;
}

.blank{
    width: 100%;
    min-height: 40vh;
    background-color: #323232;

}

.blank-2{
    width: 100%;
    min-height: 60vh;
    background-color: #323232;
    

}

.second{
    background-image: url(../images/bg-2.png);
    background-attachment: fixed;
    height: 700px;
    width: auto;
    flex-direction: row;
    gap: 2.5rem;
}



.card-home{
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 500px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}


.card{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.7rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: al l 0.3s ease;
}

.card-signup{
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 480px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  padding-top:20px;
  margin-top: 70px;
}

.card-login{
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 430px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.7rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
  padding-top:20px;
  margin-top:40px;
}
.card:hover{
    transform: scale(1.1);
}

.card-signup:hover{
  transform: scale(1.1);
}

.card-login:hover{
  transform: scale(1.1);
}
.card .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .info img{
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: 0.7rem;
}

.card .info h3{
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.card a{
    margin-bottom: 1.5rem;
    width: 70%;
}

.blank-2{
    min-height: 30vh;
}

/* .blank {
    justify-content: center;
    font-style: italic;
    font-weight: 100;
    font-size: medium;
} */

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: x-large;
    margin-left: 300px;
    color: antiquewhite;
}

.footer{
    color: #fff;
    text-align: left;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer .column{
    flex: 1;
    padding: 0 20px;
}

.footer .column h3{
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.footer .column ul{
    list-style: none;
    padding: 0;
}

.footer .column ul li{
    margin: 20px 0;
}

.footer .column ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer .column ul li a:hover{
    color: #6547ec;
}

/* Add a custom class to the logout button */
form .logout-button {
  background-color: transparent; /* White background */
  padding: 10px 16px 10px 12px;
  margin-left: 15px;
  border: none; /* No border */
  outline: none; /* No outline */
  cursor: pointer; /* Change cursor on hover */
  color: white; /* Text color */
  font-size: 1rem;
}

form .logout-button:hover {
  color: #e0e0e0; /* Light gray background on hover */
}

.navbar {
  min-height: 80px; /* Adjust the height as needed */
  padding: 15px 0; /* Adjust the padding as needed */
  color:white;
}

.navbar-brand {
  font-size: 1rem; /* Adjust the font size of the brand as needed */
}

.navbar-nav .nav-link {
  padding: 10px 15px; /* Adjust the padding of the nav links as needed */
  font-size: 1em; /* Adjust the font size of the nav links as needed */
}

.navbar-toggler-icon {
  font-size: 1rem; /* Adjust the font size of the toggler icon as needed */
}


